.review__media-upload-square-button-container {
  border: 2px solid #aab7b8;
  border-style: dashed;
  background-color: #fafafa;
  flex: 0 0 auto;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
